@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Raleway';
  text-decoration: none;
}

.bluestar {
	color: #0065fc;
}

.greystar {
	color: grey;
}

.card-link {
  color: black;
}

.box-link {
  color: black;
}

/*header */

.logo {
  display: flex;
  align-items: center;
  float: left;
  width: auto;
}

.logo img{
  height: 60px;
  margin: 0px 40px;
}

.nav {
  display: flex;
  float: right;
  font-size: 17px;
  gap: 10px;
  justify-content: flex-end;
  width: 80%;
  height: 80px;
  color: #0065FC;
}

.nav-acco {
  font-weight: 700;
  line-height: 5px;
  padding: 20px;
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

.nav-act {
  font-weight: 700;
  line-height: 5px;
  padding: 20px;
  color: grey;
}

.nav-sig {
  font-weight: 700;
  line-height: 5px;
  padding: 20px;
  color: #0065FC; 
 }

.header {
  display: flex;
  height: 70px;
  justify-content: space-evenly;
  margin: 40px;
}

/*Page name*/

.topSection {
  width: 85%;
  margin: auto;
}

.fa-map-marker-alt {
  background-color: #F2F2F2;
  border-radius: 12px 0 0 12px;
  font-size: 22px;
  padding: 1px;
  text-align: center;
  width: 50px;
  padding: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  width: auto;
  text-align: center;
}

.search-box {
  border: solid 1px #DEEBFF;
  font-weight: 700;
  font-size: 12px;
  width: 200px;
  padding: 12px;
}

.search-button {
  align-content: center;
  background-color: #0065FC;
  border-radius: 0px 12px 12px 0px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  font-size: 15px;
  padding: 15px;
  width: 90px;
}

/* Filters*/

.filter-box {
  align-items: center;
  border-radius: 25px;
  border: solid 1px #DEEBFF;
  color: black;
  display: inline-flex;
  font-size: 15px;
  padding: 0px 26px;
}

.filter-box:hover {
  background-color: #DEEBFF;
  border: solid 1px #0065FC;
}

.f-icon {
  font-size: 20px;
  align-items: center;
  background-color: #DEEBFF;
  border-radius: 25px;
  color: #0065FC;
  display: flex;
  float: left;
  height: 50px;
  justify-content: center;
  margin: 0 15px 0 -26.5px;
  min-width: 55px;
  position: relative;
}

.filters {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: auto;
}

.f-text {
  font-weight: 900;
}

.info {
  font-weight: lighter;
}

.info-i {
  background-color: white;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  color: #0065fc;
  padding: 5px  10px;
}

/* Accommodations in Marseille */

.acco-box {
  background-color: white;
  border: solid white 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(192,192,192);
  width: 300px;
}

.acco-box:hover {
  box-shadow: 0 4px 2px 0 rgba(192,192,192);
}

.acco-box img {
  border-radius: 20px 20px 0 0;
  height: 130px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.acco-box-text {
  border-radius: 0 0 1px 2px;
  line-height: 6px;
  padding: 2px;
}

.acco-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}   

.acco-header {
  display: flex;
  justify-content: flex-start;
}

.acco-header {
  margin-left: 10px;
}

.acco-background {
  background-color: #F2F2F2;
  border-radius: 25px;
  padding: 10px;
  width: 55%;
}   

.places {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 20px;
  justify-content: center;
}

.showmore {
  margin-left: 20px;
  color: black;
  font-size: 20px;
  font-weight: 900;
  text-decoration: none
}

/* Most Popular*/

.chart-icon {
  font-size: 25px;
  align-self: center;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.mpopular-box {
  background-color: white;
  border: solid white 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgba(192,192,192);
  height: 170px;
  display: flex;
}

.mpopular-box:hover {
  box-shadow: 0 4px 2px 0 rgba(192,192,192);
}

.mpopular-box img {
  display: flex;
  border-radius: 20px 0 0 20px;
  height: 150px;
  width: 45%;
  object-fit: cover;
  position: relative;
}

.mpopular-box-text {
  float: right;
  object-fit: cover;
  padding-left: 8px;
  position: relative;
}

.mpopular-container {
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  justify-items: center;
  margin: auto;
}

.mpopular-header {
  display: flex;
  justify-content: flex-start;
}

.mpopular-header-text {
  margin-left: 10px;
}

.mpopular-background {
  background-color: #F2F2F2;
  border-radius: 20px;
  height: auto;
  padding:10px;
  width: 30%;
}

/* Activities in Marseille*/

.column {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 80px;
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 70px;
}

.act-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
}

.act-container a {
  color: black;
}

.act-container h3 {
  line-height: 22px;
  margin: 1px 10px;
  flex-wrap: wrap;
}

.act-header {
  display: flex;
  justify-content: flex-start;
}

.act-header-text {
  margin-left: 135px;
}

.act-background {
  border-radius: 20px;
  height: auto;
  margin: 0 20px;
  width: 100%;
}

.act-box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 1px 1px 0px rgba(192,192,192);
  height: 500px;
  width: 370px;
}

.act-box img {
  border-radius: 20px 20px 0 0;
  height: 90%;
  width: 100%;
}

.act-box:hover {
  box-shadow: 0 4px 2px 0 rgba(192,192,192);
}

.oldport-box img {
  height: 90%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.pomegues-box {
  height: 288px;
}

.pomegues-box img {
  height: 80%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.frioul-box {
  height: 224px;
}

.frioul-box img {
  height: 80%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.calanques-box img {
  height: 90%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.notredame-box {
  height: 256px;
}

.notredame-box img {
  height: 80%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.longchamp-box {
  height: 256px;
}

.longchamp-box img {
  height: 80%;
  object-fit: cover;
  position: relative;
  width: 100%;
}

/* Footer */

.footer {
  background-color: #F2F2F2;
  padding: 10px;
  margin-top: 32px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.footer a {
  color: grey;
}

.footer a:hover {
  color: #0065FC;
}

/* mobile phones */

@media only screen and (max-device-width: 480px) {
   
  .acco-background,
  .act-background,
  .mpopular-background,
  .filters,
  .info,
  .search,
  .header,
  .topSection {
    height: auto;
  }
 
  .topSection {
    margin-left: 13%;
  }

  .nav {
   border-bottom: #F2F2F2 solid 0.4px;
   width: 100%;
   margin-top: 15%;
  }
   
  .nav-link:hover {
   border-top: none;
  }
   
  .nav-sig {
   position: relative;
   bottom: 60px;
   right: 80px;
   width: 500px;
   line-height: 1;
  }
   
  .nav-act {
   position: relative;
   width: 400px;
   border-bottom: 2px solid grey;
  }
 
  .nav-acco {
   position: relative;
   width: 300px;
   border-top: none;
   border-bottom: 2px solid #0065FC;
  }
 
  .top-section {
   margin: 15px;
  }
   
  .header {
   display: flex;
   flex-direction: row;
   margin: 0px 100px;
  }
 
  .search {
   margin: 15px;
  }
   
  .search-button {
   color:#F2F2F2;
   width: 20%;
  }
   
  .fa-map-marker-alt {
   display: inline;
   color: black;
   font-size: 24px;
   position: relative;
  }
 
  .filters {
   display: grid;
   grid-template-columns: 150px 150px;
   row-gap: 10px;
   margin: 0px 20px;
   width: 150px;
  }
   
  .info {
   margin: 20px;
  }
 
  .mpopular-background {
   height: auto;
  }
 
  .mpopular-box {
   width: auto;
  }
   
  .mpopular-box-text {
   line-height: 16px;
   width: auto;
  }
 
  .acco-background {
   background-color: white;
  }
   
  .acco-box {
   width: 100%;
  }
   
  .acco-box img {
   width: 100%;
  }
 
  .acco-header,
  .act-header-text,
  .mpopular h2 {
   margin: 5px auto;
  }
 
  .places {
   flex-direction: column-reverse;
  }
 
  .act-box {
   height: 250px;
   width: 80%;
  }

  .showmore p{
    margin-left: 5px auto;
  }
   
  .act-box h3 {
   line-height: 16px;
  }
   
  .act-box img {
   height: 80%;
  }
 
  .act-container,
  .mpopular-container,
  .acco-container {
   flex-direction: column;
   gap: 10px;
   height: auto;
   width: auto;
  }
   
  .column,
  .column1 {
   gap: 25px;
   height: auto;
  }
 
  .footer{
   height: auto;
   margin: 25px;
  }
 
  .row {
   flex-direction: column;
  }
   
  .footer h3,
  .footer p {
   width: 300px;
   margin: 16px;
  } 
}

/* tablets */

@media only screen and (max-width: 880px)  {
	
  .top-section,
  .search,
  .info {
    margin: 0px 50px;
    width: 95%;
  }
 
  .act-box,
  .oldport-box,
  .pomegues-box,
  .frioul-box,
  .notredame-box,
  .longchamp-box {
   height: 200px;
  }
   
  .act-background,
  .acco-background,
  .mpopular-background {
   border-radius: 0;
   height: auto;
   margin: 0 auto;
   width: 85%;
  }
   
  .act-container,
  .acco-container,
  .mpopular-container {
   align-items: center;
   height: auto;
   width: auto;
   flex-direction: column;
  }
   
  .act-box,
  .acco-box,
  .mpopular-box {
   width: 100%;
  }
 
  .logo {
   width: 50%;
  }
   
  .nav {
   align-items: flex-end;
   gap: 16px;
  }
 
  .filters {
   flex-direction: column;
   height: auto;
   margin: 0px 20px;
   width: 95%;
  }
 
  .info p {
   margin: 20px 10px;
  } 
 
  .acco-box img {
   width: 580px;
  }
 
  .acco-header {
   margin: 10px 16px;
  }

  .acco-background {
    background-color: white;
  }
 
  .places {
   flex-direction: column-reverse;
  }
 
  .showmore {
   margin: 20px 20px;
  }
 
  .mpopular-header {
   margin: 10px 20px;
  }
 
  .mpopular-box-text {
   width: 272px;
  }
 
  .act-container {
   flex-direction: column;
   gap: 32px;
  }
   
  .act-box img {
   height: 85%;
  }
 
  .act-header-text {
   margin: 10px 90px;
  }
   
  .act-box h3 {
   line-height: 16px;
  }
   
  .column,
  .column1 {
   gap: 32px;
   height: auto;
  }
   
  .row {
   flex-direction: column;
  }
   
  .footer {
   height: 800px;
   margin: 40px;
  }
}
@media all and (max-width: 1439px) {

  .acco-background {
   background-color: white;
   height: auto;
   margin: 0 auto;
   padding-bottom: 60px;
   width: 95%;
  }
	
  .act-box,
  .oldport-box,
  .pomegues-box,
  .frioul-box,
  .calanques-box,
  .notredame-box,
  .longchamp-box {
   height: 320px;
   width: auto;
  }

  .act-box img {
   height: 85%;
  }

  .act-background {
   height: auto;
   margin: 0 auto;
   width: 95%;
  }
	
  .act-container {
   align-items: center;
   flex-direction: column;
   gap: 15px;
   height: auto;
   width: auto;
  }

  .act-header {
   height: auto;
  }
	
  .column,
  .column1 {
   gap: 32px;
   margin-bottom: 50px;
  }

  .places {
   flex-direction: column-reverse;
  }
	
  .mpopular-background {
   height: auto;
   margin: 0 auto;
   width: 95%;
  }
	
  .mpopular-box {
   width: auto;
  }

  .nav{
   align-items: flex-end;
   gap: 16px;
  }
	
  .topSection,
  .top-section,
  .search,
  .filters,
  .info {
   margin: 30px auto;
   width: 95%;
  }
	
  .logo {
   width: 50%;
  }
}

@media all and (max-width: 1885px) {

  .acco-background {
   height: auto;
   padding: 0 0.8px 50px 0.8px;
   width: 95%;
  }
   
  .act-background {
   height: auto;
   margin: 0 auto;
   width: 95%;
  }
	
  .act-container {
   gap: 30px;
   height: auto;
   justify-content: center;
  }
	
  .act-box,
  .oldport-box,
  .pomegues-box,
  .frioul-box,
  .calanques-box,
  .notredame-box,
  .longchamp-box {
   width: auto;
  }

  .act-box img {
   height:85%;
  }

  .frioul-box img,
  .pomegues-box img,
  .longchamp-box img,
  .notredame-box img {
   height: 80%;
  }

  body {
   margin: 0 auto;
   padding: 0;
   position: relative;
  }
	 
  .column,
  .column1 {
   gap: 50px;
   height: auto;
  }

  .places {
   align-items: center;
   flex-direction: column-reverse;
  }
	
  .mpopular-background {
   height: auto;
   padding: 0 15px 45px 15px;
   width: 95%;
  }

  .mpopular-box {
   width: auto;
  }

  .mpopular-box-text {
   object-fit: cover;
   position: relative;
   width: auto;
  }

  .mpopular-container {
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   justify-content: space-evenly;
  }
	
  .mpopular-header {
   display: inline-flex;
   height: 60px;
   width: 100%;
  }

  .nav,
  .logo {
   flex-wrap: nowrap;
   gap: 8px;
  }
}

